*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.vp{
    width: 100vw;
    height: 100vh;
}

.flex{
    display: flex;
}

.space-centered{
    justify-content: space-between;
    align-items: center;
}

nav{
    background-color: rgb(47, 47, 197);
    height: 80px;
}

.left-list{
    background-color: rgb(176, 112, 236);
    height: 40px;
    width: 500px;
}

.right-list{
    background-color: #b070ec;
    height: 40px;
    width: 500px;
}

header{
    background-color: rgb(245, 245, 189);
    height: calc(100vh - 80px);
}

.major-container{
    background-color: #b4d0e6;
    width: 75rem;
    margin: auto;
}

h1{
    font-size: 5rem;
}


.trial{
    background-color: #b070ec;
    width: 50%;
    height: 35rem;
    border: 1px solid black;
}

.trial-img{
    background-color: #b070ec;
    width: 50%;
    height: 35rem;
    border: 1px solid black;
}