@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Roboto&display=swap');

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    /* min/max-width */
}

h1{
    font-size: 5rem;
    padding-top: 4rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.5rem;
}






/* ////////////-----SELETTORI GENERICI-----/////////////// */
.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.center{
    align-items: center;
}

.column{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}

.justify{
    justify-content: center;
}

.p-absolute{
    position: absolute;
}

.p-relative{
    position: relative;
}

.major-container{
    background-color: #b4d0e6;
    width: 75rem;
    margin: auto;
}

.medium-container{
    background-color: aquamarine;
    margin: auto;
    width: 63rem;
    padding-top: 10rem;
}





/* ////////////-----NAV-----/////////////// */
nav{
    height: 80px;
    font-size: 1.2rem;
}


/* .left-list{
    è giusto togliere la width?
} */

/* .right-list{
    è giusto togliere la width?
} */




/* ////////////-----HEADER-----/////////////// */
header{
    background-color: #b4d0e6;
}

.col{
    padding-top: 2.5rem;
}

.trial{
    width: 30%;
}

.trial-img{
    width: 70%;
}



/* ////////////-----INIZIO MAIN-----/////////////// */




/* ////////////-----Sezione con piani di abbonamento-----/////////////// */
.subscription-title{
    margin-bottom: 2rem;
}


.subscription-office{
    height: 10rem;
    width: 100%;
    margin-top: 2rem;
}

.plans{
    width: calc((100% / 3) - 2rem);
    height: 850px;
    border: .1px solid #474747;
}

.plan-forwho{
    height: 5%;
    border-bottom: .1px solid #474747;
}

.plan-type{
    height: 54%;
}

.empty-div{
    height: 1%;
    border-top: .1px solid #474747;
    margin-left: 1rem;
    margin-right: 15rem;
}

.check-type{
    height: 40%;
}

.enterprise{
    background-color: bisque;
    height: 70%;
    width: 100%;
    border: 1px solid black;
}

.team{
    background-color: bisque;
    height: 30%;
    width: 100%;
    border: 1px solid black;
}

.team-left{
    background-color: blue;
    flex-basis: 70%;
    height: 100%;
}

.team-right{
    background-color: #b070ec;
    flex-basis: 30%;
    height: 100%;
}



/* ////////////-----Sezione con partner Dropbox-----/////////////// */
.partner-container{
    margin-top: 2rem;
    width: 100%;
}

.partner-img{
    background-color: bisque;
    border: 1px solid black;
    width: 50%;
    height: 30rem;
}

.partner{
    background-color: bisque;
    border: 1px solid black;
    width: 50%;
    height: 30rem;
}



/* ////////////-----Sezione con operazioni Dropbox Business-----/////////////// */
.operations-container{
    width: 100%;
    height: 50rem;
}

.cards{
    background-color: #b070ec;
    border: 1px solid black;
    height: 20rem;
    width: 18rem;

}

.card-img{
    background-color: bisque;
    width: 100%;
    height: 50%;
    border: 1px solid black;
}

.card-content{
    background-color: bisque;
    width: 100%;
    height: 50%;
    border: 1px solid black;
}



/* ////////////-----Sezione BLOCCHI-----/////////////// */
.blocks{
    background-color: green;
    aspect-ratio: 1 / 1;
    width: calc(100vw / 3);
}

.content-block{
    width: 50%;
    aspect-ratio: 1 / 1;
    background-color: rgb(114, 150, 182);
}



/* ////////////-----DIV SOLITARIO A CUI BISOGNA TROVARE UN POSTO-----/////////////// */
.business{
    background-color: greenyellow;
}


/* ////////////-----Sezione DOMANDE FREQUENTI-----/////////////// */
.asking-questions{
    height: 10rem;
    background-color: rgb(61, 150, 73);
}


/* ////////////-----Sezione FOOTER-----/////////////// */
footer{
    background-color: rgb(75, 71, 71);
}




/* ////////////-----INSERIMENTO CONTENUTI-----/////////////// */



/* ////////////-----BUTTONS&radioINPUT STYLE-----/////////////// */
.blue{
    background-color: #0566f9;
}

.button-style{
    color: white;
    border: none;
    padding: .5rem 1.7rem;
    font-size: 1.1rem;
}

.plan-button{
    margin-bottom: 1rem;
}




/* ////////////-----sezione NAV CONTENUTI-----/////////////// */
nav ul li{
    padding: 1rem;
}

ul li{
    list-style: none;
}

nav li a{
    text-decoration: none;
    color: #474747;
}


/* ////////////-----sezione HEADER CONTENUTI-----/////////////// */
.subscription-title h2{
    padding-bottom: 2rem;
}
header button{
    margin: 2rem 0rem;
}

.down-arrow{
    font-size: 5rem;
    margin-bottom: 3rem;
}

.client-proposal{
    width: 55rem;
    top: 0px;
    left: 0px;
}


/* ////////////-----sezione MAIN CONTENUTI  PIANI DI ABBONAMENTO-----/////////////// */
.subscription p{
    display: inline-block;
    padding-right: 2.5rem;
}

.icons{
    font-size: 1.2rem;
    padding-right: .5rem;
}

.plan-type span{
    display: block;
}

.plan-block{
    padding-bottom: 3rem;
    line-height: 1.8rem;
    padding: 1rem 1.5rem;
}

main ul li:before {
    content: '✓';
    color: #0566f9;
    font-weight: bold;
}



/* ////////////-----COLORI STILI E DIMENISIONI QUADRATI-----/////////////// */



.designit{
    background-color: #a1d29f;
}

.asu{
    background-color: #610a2a;
}

.uf{
    background-color: #0094cb;
}

.topps{
    background-color: #ff211b;
}

.big-designit{
    background-color: #f5f5f5;
}

.bicycle{
    background-color: #d6081e;
}

.hearst{
    background-color: #b4d0e6;
}

.lonelyp{
    background-color: #0e287e;
}

.clear-channel{
    background-color: #ffd749;
}

.img-size{
    width: 10rem;

}



