*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.space-centered{
    justify-content: space-between;
    align-items: center;
}

nav{
    background-color: rgb(47, 47, 197);
    height: 80px;
}

.left-list{
    background-color: rgb(176, 112, 236);
    height: 40px;
    width: 500px;
}

.right-list{
    background-color: rgb(176, 112, 236);
    height: 40px;
    width: 500px;
}